@import "tailwindcss";

@font-face {
  font-family: "Open Sans Variable";
  src: url("/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  /* font */
  font-family: "Open Sans Variable", sans-serif;
  color: var(--black);
  background-color: var(--white);

  /* dimensions */
  --width: 32rem;

  /* scrollbar */
  ::-webkit-scrollbar {
    width: 0.375rem;
    background-color: var(--white);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.375rem;
    background-color: var(--stroke);
  }

  /* colors */
  /* base */
  --black: #1f1f1f;

  --darkgrey: #808080;
  --lightgrey: #cccccc;
  --white: #fcfcfc;

  /* ui */
  --mainColor: var(--black);
  --stroke: #ededed;
  --fill: #f2f2f2;
  --screen-dim: rgba(26, 28, 31, 0.15);

  /* other */
  --red: #d9566c;
  --orange: #e5955c;
  --maize: #e5e55c;
  --pear: #c3e55c;
  --green: #8ae55c;
  --malachite: #5ce567;
  --aquamarine: #5ce5a1;
  --turquoise: #5ce5da;
  --blue-crayola: #5c7ee5;
  --state-blue: #735ce5;
  --amethyst: #ac5ce5;
  --orchid: #e55ce5;
  --brilliant-rose: #e55cac;
}

main {
  height: 100vh;
  width: 100%;
}
