@import "tailwindcss";

/* Подключение переменной шрифтовой семьи Open Sans Variable */
@font-face {
  font-family: "Open Sans Variable";
  src: url("/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Основные переменные и цвета */
:root {
  font-family: "Open Sans Variable", sans-serif;
  color: #1f1f1f;
  background-color: #fcfcfc;

  --width: 32rem;

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 0.375rem;
    background-color: #fcfcfc;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.375rem;
    background-color: #ccc;
  }
}

main {
  height: 100vh;
  width: 100%;
}

/* Пользовательская тема */
@theme {
  /* базовые цвета */
  --color-black: #1f1f1f;
  --color-darkgrey: #808080;
  --color-lightgrey: #cccccc;
  --color-white: #fcfcfc;

  /* UI элементы */
  --color-stroke: #ededed;
  --color-fill: #f2f2f2;
  --color-screen-dim: rgba(26, 28, 31, 0.15);

  /* Дополнительные цвета для UI, статуса, сообщений */
  --color-red: #d9566c;
  --color-orange: #e5955c;
  --color-maize: #e5e55c;
  --color-pear: #c3e55c;
  --color-green: #8ae55c;
  --color-malachite: #5ce567;
  --color-aquamarine: #5ce5a1;
  --color-turquoise: #5ce5da;
  --color-blue-crayola: #5c7ee5;
  --color-state-blue: #735ce5;
  --color-amethyst: #ac5ce5;
  --color-orchid: #e55ce5;
  --color-brilliant-rose: #e55cac;
}
