@import "tailwindcss";

/* Подключение переменной шрифтовой семьи Open Sans Variable */
@font-face {
  font-family: "Open Sans Variable";
  src: url("/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Основные переменные и цвета */
:root {
  font-family: "Open Sans Variable", sans-serif;
  color: #1f1f1f;
  background-color: #fcfcfc;

  --width: 32rem;

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 0.375rem;
    background-color: #fcfcfc;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.375rem;
    background-color: #ccc;
  }
}

main {
  height: 100vh;
  width: 100%;
}

/* Пользовательская тема */
@theme {
  /* базовые цвета */
  --color-black: #312f2c;
  --color-darkgrey: #757575;
  --color-lightgrey: #d3d3d3;
  --color-white: #fafafa;

  /* базовые UI цвета */
  --color-stroke: #ededed;
  --color-fill: #f2f2f2;
  --color-screen-dim: rgba(49, 47, 44, 0.15);

  /* дополнительные UI цвета */
  --color-red: #f0485f;
}
